<mat-card>
    <mat-card-content>
        <h1>Welcome</h1>
        <app-authentication-form [isLoginMode]="isLoginMode"></app-authentication-form>
        <div *ngIf="isLoginMode">
            <span class="span-divider">Continue with</span>
            <mat-card-actions>
                <button mat-raised-button color="accent">Facebook</button>
                <button mat-raised-button color="accent">Google</button>
                <button mat-raised-button color="accent">LinkedIn</button>
            </mat-card-actions>
        </div>
        <span *ngIf="isLoginMode">Don't have an account <a routerLink="/register">Sign up</a></span>
        <span *ngIf="!isLoginMode">Don't have an account <a routerLink="/login">Sign in</a></span>
    </mat-card-content>
</mat-card>
